*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: url(images.jpg);
    background-position: center;
    background-size: cover;


}


.container{
    width: 400px;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background:rgba(0, 0, 0,0.5);
    border: 1px solid;
    backdrop-filter: blur();

}

h2{
    padding: 20px 0px;
    font-size: 30px;
    text-transform: uppercase;

}

.form-group{
    position: relative;
   border-bottom: 3px solid white;
    width: 300px;
    margin: 30px;
}
.form-group input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: transparent;
    color: aliceblue;
   
}


.form-group label{
    top: 50%;
    left: 10px;
    position: absolute;
    transform:translateY(-50%);
    color: white ;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
p{
    text-align: center;
    color: white;
    padding: 10px;
    

}
p a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

p a:hover{
    color: white;
    font-style: italic;
    text-decoration: underline;
}

#btn{
    width: 100%;
    height: 50px;
    border-radius: 40px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: none
;
border: none;
transition: 0.5s;
}

#btn:hover{
    background-color: lightsalmon;
}

